
body {
    background-image: url(ollo.jpg);
}
h1{
    font-size: 50px;
    justify-content: center;
    text-align: center;
    background-color: gold;
}
h3 {
    font-size: 35px;
    text-align: center;
}
#gombdiv {
    text-align: center;
}
button {
    font-size: 40px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: darkturquoise;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#eredmeny {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    background-color:cornflowerblue;
}
img {
    object-position: bottom;
}
a {
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    background-color: aliceblue;
}
